<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css')}}">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ url_for('main.index') }}" class="navbar-brand">Questions & Answers</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">Home</a></li>
                    {% if not current_user.is_authenticated %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('main.ask') }}">Ask Question</a></li>
                    {% endif %}
                    {% if current_user.is_authenticated and current_user.expert %}
                    <li><a href="{{ url_for('main.unanswered') }}">Unanswered Questions</a></li>
                    {% endif %}
                    {% if current_user.is_authenticated and current_user.admin %}
                    <li><a href="{{ url_for('main.users') }}">User Setup</a></li>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container theme-showcase" role="main">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
